Flask-Principal==0.4.0
Flask==3.0.2
Pygments==2.17.2
Werkzeug==3.0.1
bleach==6.1.0
feedgen==1.0.0
gunicorn==21.2.0
httpx==0.26.0
jsonpatch==1.33
marshmallow==3.20.2
pytest==8.0.1
pytest-datadir==1.5.0
rdflib==7.0.0
webargs==8.4.0
