Flask-Principal==0.4.0
Flask==2.2.3
Pygments==2.15.0
Werkzeug==2.2.3
bleach==6.0.0
feedgen==0.9.0
httpx==0.23.3
jsonpatch==1.32
marshmallow==3.19.0
pytest==7.3.0
pytest-datadir==1.4.1
rdflib==6.3.2
webargs==8.2.0
