Flask-Principal==0.4.0
Flask==3.0.0
Pygments==2.16.1
Werkzeug==3.0.0
bleach==6.1.0
feedgen==0.9.0
gunicorn==21.2.0
httpx==0.25.0
jsonpatch==1.33
marshmallow==3.20.1
pytest==7.4.3
pytest-datadir==1.5.0
rdflib==7.0.0
webargs==8.3.0
